<div class="login-container">
  <div class="login-card">
    <h2>MEMEMUSEUM</h2>
    <h3>Sign in</h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label
          >Username
          <input type="text" formControlName="username" data-testid="username-input" />
          @if (loginForm.get('username')?.invalid &&
          loginForm.get('username')?.touched) {
          <div class="error">Username required</div>
          }
        </label>
      </div>

      <div>
        <label
          >Password
          <input type="password" formControlName="password" data-testid="password-input" />
          @if (loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched) {
          <div class="error">Password required</div>
          }
        </label>
      </div>

      <button type="submit" data-testid="login-button" [disabled]="loading || loginForm.invalid">
        {{ loading ? "Loading..." : "Login" }}
      </button>

      @if (errorMessage) {
      <div class="error">
        {{ errorMessage }}
      </div>
      } @if (successMessage) {
      <div class="success">
        {{ successMessage }}
      </div>
      }
    </form>
  </div>
</div>
